#img1{
    float: left;
}
h2{
    margin-top: 70px;
    font-size: 50px;
  
}
main {
    display: grid;
    color: white;
    font-family: arial;

    grid-template-areas: "my-header" "my-nav" "my-section" "my-aside""my-footer";
    grid-template-columns: 100%;
    grid-template-rows: 200px 150px 250px 100px 80px;
}

header {
    background-color: rgb(30, 196, 160);
    grid-area: my-header;
}

nav {
    background-color: grey;
    grid-area: my-nav;
}

section {
    background-color: indigo;
    grid-area: my-section;
}

aside {
    background-color: darkmagenta;
    grid-area: my-aside;
}

footer {
    background-color: darkorchid;
    grid-area: my-footer;
}


@media (min-width: 600px) and (max-width: 1000px) {
    main {
        grid-template-areas: "my-header my-header" "my-nav my-nav" "my-aside my-section" "my-footer my-footer";
        grid-template-columns: 30% 70%;
        grid-template-rows: 200px 150px 340px 80px;
    }

}

@media (min-width: 1001px) {
    main {
        grid-template-areas: "my-header my-header my-header" "my-nav my-section my-aside" "my-footer my-footer my-footer";
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 200px 340px 80px;
    }
}
#oferta{
    width: 1100px;
    height: 400px;
}